@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(62.5% + 2vw);
}

body {
	font-family: 'Lato', sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.bg {
	background: url('./img/bcg.jpg') no-repeat center center/cover;

	position: absolute;
	top: -30px;
	left: -30px;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	z-index: -1;
	filter: blur(0px);
}

.loading-text {
	color: #fff;
}

.btn {
	padding: 0.2rem 0.4rem;
	background: #9b4048;
	border: none;
	color: white;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
	border-radius: 0.2rem;
	text-transform: uppercase;
	opacity: 0.6;
}
.btn:hover {
	background: #9e1010;
}
