* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Navbar  */
.navbar {
  width: 100%;
  height: 12rem;
  background: rgb(27, 27, 27);
  position: fixed;
  top: -12rem;
  z-index: 14;
  padding: 3rem;
  animation: animateNavbar 1s 0.5s forwards;
}

@keyframes animateNavbar {
  from {
    top: -12rem;
  }
  to {
    top: 0rem;
  }
}

.change.navbar {
  height: 100vh;
  transition: height 0.5s;
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
}

.logo_big {
  font-family: "Russo One", sans-serif;
  font-size: 4.5rem;
  color: #eee;
  letter-spacing: 0.1rem;
}

.logo_big span {
  font-family: "Russo One", sans-serif;
  font-size: 5.5rem;
  font-weight: bold;
  color: #9b0e0e;
}

.logo_small {
  position: relative;
  top: -1.5rem;
  font-family: "Russo One", sans-serif;
  font-size: 1.5rem;
  color: #eee;
  letter-spacing: 0.1rem;
  align-self: center;
}
.logo_small span {
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #9b0e0e;
}

.nav-list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #eee;
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: #9b0e0e;
}
/* end of Navar */

/* Menu */
.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  top: 3rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background: #eee;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

/* end of Menu  */

.section-1 {
  width: 100%;
  height: 50vh;
  background: url("https://images.unsplash.com/photo-1607723619497-98a79f01ba90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80");
}

/* section 2  */
.section-2 {
  width: 100%;
  min-height: auto;
  background-color: #161718;
  position: absolute;
}

.section-heading {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.offers-conteiner {
  width: 100%;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: wrap;
}

.offer-box {
  width: 61rem;
  height: 50rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background: rgb(250, 242, 242);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-bar {
  height: 2rem;
}

.offer-heading {
  height: 5rem;
  padding-left: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.offer-item {
  padding-left: 1%;
  padding-top: 1rem;
  list-style-position: inside;
  list-style-type: circle !important;
}

.offer-list,
.offer-paragrpaph {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}

.offer-paragrpaph {
  padding: 1rem;
  line-height: 3rem;
}

.one {
  background: linear-gradient(to right, #087285, #0da5d3);
}
.two {
  background: linear-gradient(to right, #946809, #bdba0e);
}
.three {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}
/* end of section 2  */
