.projects {
	width: 90%;
	margin: auto;
	min-height: 90vh;
	text-align: center;
	display: grid;
	grid-gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	grid-template-rows: auto;
	h2 {
		font-size: $header2;
		margin: 3rem;
	}
}

.project {
	opacity: 0.8;
	margin: 4rem 0 4rem 0;
	img {
		width: 100%;
		object-fit: cover;
	}
	transition: opacity 0.3s ease-in-out;
}

.project:hover {
	opacity: 1;
}
