@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secendary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secendary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.toggle-mode {
  background-color: var(--primary-color);
  color: var(--secendary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}

.toggle-mode:focus {
  outline: none;
}

.clock-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba($color: rgb(100, 100, 100), $alpha: 0.1);
  border-radius: 50%;
}

.nedle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.nedle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.nedle.minute {
  transform: translate(-50%, -100%) rotate(5deg);
  height: 100px;
}

.nedle.second {
  transform: translate(-50%, -100%) rotate(10deg);
  height: 100px;
  background-color: #e74c3e;
}

.center-point {
  background-color: #e74c3e;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point:after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secendary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}
